<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">  	
        <li>
            <a ui-sref="dashboard">首页</a>
            <!--<i class="fa fa-circle"></i>-->
        </li>
    </ul>
</div>
<h3 class="page-title"> 城市更新小程序 </h3>
<ul class="list-inline">
	<li>
		<a ui-sref="norm" class="btn btn-info btn-lg">规范</a>
	</li>
	<li>
		<a ui-sref="unit" class="btn btn-info btn-lg">项目</a>
	</li>
</ul>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
	
</div>
<!-- END MAIN CONTENT -->